# React Native
node_modules/
.bundle/

# iOS
ios/Pods/
ios/build/
*.xcworkspace
!default.xcworkspace
*.xcuserdata
ios/*.xcarchive

# Android
android/build/
android/app/build/
android/.gradle/
android/local.properties
*.keystore
!debug.keystore

# Metro
.metro-health-check*

# Environment
.env
.env.local
